TankBattleCode/Content/T_Ground_Gravel_N.uasset
TankBattleCode/Content/T_Ground_Gravel_D.uasset
TankBattleCode/Content/T_Ground_Grass_N.uasset
TankBattleCode/Content/T_Ground_Grass_D.uasset
TankBattleCode/Content/UI/BT17-Firing-M1A1-tank-in-Djibouti.uasset

# Starter Content
Content/StarterContent
TankBattleCode/Content/StarterContent/
